{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Twitter. It's what's happening / Twitter</title>
  <meta name="description" content="Fake twitter">
  <meta name="author" content="Felipe Mayer">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link rel="shortcut icon" type="image/png" href="{% static 'login/images/twitter.png' %}"/>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Work+Sans">

  <!-- css -->
  <link href="{% static 'login/css/login.css' %}" rel="stylesheet">

</head>

<body>
  <figure>
    <img src="{% static 'login/images/twitter.png' %}" id="logo">
  </figure>
  <div class="right">
    <div class="form-basic">
      <form class="row g-3">
        <div class="col-auto">
          <input type="text" class="form-control form-control-lg" id="email" placeholder="Phone, email or user...">
        </div>
        <div class="col-auto">
          <input type="password" class="form-control form-control-lg" id="inputPassword2" placeholder="Password">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-outline-primary btn-lg">Log In</button>
        </div>
        <div class="row" id="forgot_pass">
          <a href="#"><p>Forgot password?</p></a>
        </div>
      </form>
    </div>
    <div class="happening">
      <img src="{% static 'login/images/twitter.png' %}" id="logo2">
      <div class="text-bottons">
        <h1>Happening now</h1><br>
        <p id="join">Join Twitter today.</p><br>
        <a href="#"><button id="sign" type="button" class="btn btn-primary btn-lg">Sign Up</button></a>
        
      </div>      
    </div>
  </div>
    <footer>
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help Center</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Terms of Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Privacy Policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cookie Policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ads info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Brand Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Advertising</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Marketing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Twitter for Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Developers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Directory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">© 2021 Mayer Tech, Inc.</a>
        </li>
    </footer>
  <div> 

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script
			  src="https://code.jquery.com/jquery-3.5.1.slim.js"
			  integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
			  crossorigin="anonymous"></script>
        
  <script>
$('#sign').on('click',function(){
    $("#staticBackdrop").modal('show');
})

</script>
{% include 'modal_signin.html' %}
</body>
</html>